
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div data-aos="fade-in">
            
                <video autoplay muted loop id="bg-video">
                    <source src="~/assets/images/gym-video.mp4" type="video/mp4" />
                </video>
           

            <h2>Join US <span class="typed" data-typed-items="get stronger, work harder"></span></h2>
            <div class="actions">
                <a asp-action="About" asp-controller="Home" class="btn-get-started">Get Strated</a>
                <a asp-action="Services" asp-controller="Home" class="btn-services">Our Classes</a>
            </div>
        </div>
    </div>
</section><!-- End Hero -->