@model RegisterFormTrainer

@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_LayoutInnerPages.cshtml";
}


    <h1>Registration Successful!</h1>
    <h2>Trainer Information</h2>
<!--

 <div class="contact-form">

        <p> Name : @ViewBag.Name</p>

        <p> PhoneNumber : @ViewBag.PhoneNumer</p>

        <p> Experience : @ViewBag.Experience</p>

        <p> TrainerType : @ViewBag.TrainerType</p>

    </div>


-->
   

