
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutInnerPages.cshtml";
}

<h1>Dashboard</h1>
<p>Welcome to the member dashboard!</p>

<a asp-action="Index" asp-controller="Register">view details </a>