@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_MainLayout.cshtml";
}
<p><a asp-controller="Registers" asp-action="Index">Go to Employees Management System</a></p>
<p><a asp-controller="Feedbacks" asp-action="Index">Go to Employees Management System</a></p>

